[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
dr = {path = ".",editable = true}
gym = {git = "https://github.com/DartEnv/dart-env"}

[requires]
python_version = "3.7"
